.admin-gold .username {
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-family: sans-serif;
  background-image: url(https://i.ibb.co/fzkJyBjw/20.gif);
  -webkit-background-clip: text;
  color: transparent !important;
  background-size: 100% 100%;
  border: 2px solid black;
  border-radius:12px
}
.gold-text {
    background: linear-gradient(
        90deg,
        #8a5a00 0%,
        #d4af37 25%,
        #fff3a0 50%,
        #d4af37 75%,
        #8a5a00 100%
    );

    background-size: 200% auto;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

    animation: gold-shine 3s linear infinite;
}

@keyframes gold-shine {
    0% {
        background-position: 200% center;
    }

    100% {
        background-position: -200% center;
    }
}
