.admin-gold .username {
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-family: sans-serif;
  background-image: url(https://i.ibb.co/fzkJyBjw/20.gif);
  -webkit-background-clip: text;
  color: transparent;
  background-size: 100% 100%;
  border: 2px solid black;
}
